{% extends "main/base.html" %}

{% block title %}MySite Snippets{% endblock %}

{% block content %}
  <h1>Useful Snippets</h1>
  <ul>
    <li><a href="{% url 'snippets:index' %}">Snippets App</a></li>
    <li><a href="{% url 'snippets:visitCount' %}">Count Your Visits</a></li>
    <li><a href="{% url 'snippets:jsonget' %}">Get A Sample Json Object</a></li>
    <li><a href="{% url 'snippets:jsonset' %}">Post A Sample Json Object</a></li>
    <li><a href="{% url 'snippets:protectFile' "delit.txt" %}">Access a protected file.</a></li>
    <li><a href="{% url 'snippets:displayRequest' %}">Display the request data.</a></li>
  </ul>
{% endblock %}
