{{ define "js" -}}

<script type="javascript">
    console.log("JavaScript Rocks!");
</script>

{{/* jquery support */}}
<script src="/static/js/jquery-3.3.1.min.js"></script>

{{/* for markdown rendering */}}
<script src="/static/js/markdown/render.js"></script>
<script src="/static/js/markdown/stmd.js"></script>

{{- end }}
