# Ignore these files from the repository

#################################################
# GENERAL
#################################################
log.txt
main.log
*.log
*.log.1
*.log.2
*.log.3
*.log.4
*.log.5
*.swp
build/
logs/
lib/
#################################################


#################################################
# C/CPP
#################################################
a.out
#################################################


#################################################
# PYTHON
#################################################
__pycache__/
*.pyc
*.pyo
venv/
#################################################


#################################################
# SQLITE / database
#################################################
data.sqlite
app.db
db/
#################################################

#################################################
# GOLANG
#################################################
bin/
pkg/
logs/
#################################################

#################################################
# LATEX related 
#################################################

# LaTeX temporary files
*.aux
*.log
*.toc

# Human Viewable PDF output - usually a bad idea to keep this in Git
*.pdf
*.ps
*.dvi

# Latexmk
*.fdb_latexmk

# SyncTeX
*.synctex.gz

# LaTeX Beamer
*.snm
*.vrb
*.nav
*.out

# BibTeX
*.bbl
*.blg

# Don't add the bundled Zip file
main-zip.zip
main-zip.d/

# others
*.lof
*.lot
*.bcf
*.tgz
main-blx.bib
main.run.xml
#################################################

#################################################
# intellij idea settings ignored
#################################################

.idea/
#################################################



