{{ define "appjs" -}}

<script>
console.log("itsoflife!");

// Script to open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
}

function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}
</script>

{{/* jquery support */}}
<script src="/static/js/jquery-3.3.1.min.js"></script>

{{/* for markdown rendering */}}
<!--
  <script src="/static/js/markdown/stmd.js"></script>
  <script src="/static/js/markdown/render.js"></script>
  -->
{{- end }}
