*styles for responsive menu*/
@media only screen and (min-width: 481px) and (max-width: 900px) {
    #ddmenu li div.column.mayHide {
        display: none;
    }
    #ddmenu ul {
        width: 100%;
        border-radius: 0;
    }
    #ddmenu li {
        position:relative;
	    width:33.33%;
        box-sizing:border-box;
        text-align: left;
        border-top:1px solid rgba(255,255,255,0.3);
        border-right:1px solid rgba(255,255,255,0.3);
    }
    #ddmenu li.full-width {
        position: relative;
    }
    #ddmenu div.dropdown {
        width: auto;
        left: 0px;
        text-align: left;
    }
    #ddmenu li.full-width div.dropdown {
        width: auto;
    }
    #ddmenu div.dropdown.right-aligned, #ddmenu div.dropdown.mayRight {
        left: auto;
        right: 0px;
    }
    #ddmenu li div.column {
        width: auto;
        border: none;
    }
}
