<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="description" content="The HTML5 Template">
  <meta name="keywords" content="html, template, html5">
  <meta name="author" content="Anshuman Dhuliya">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>The HTML5 Template</title>

  <link rel="stylesheet" href="w3.css">
  <link rel="stylesheet" href="template.css">

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>

<body>

  <!-- Content of the body goes here. -->

  <script src="template.js"></script>
</body>
</html>
